<div>
  <h2>To-do List</h2>
  <ul>
    @for (tarea of listaTareas; track $index) {
    <li>
      {{ tarea }}
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="eliminarTarea($index)"
      >
      <mat-icon matSuffix>close</mat-icon>
      </button>
    </li>
    }

    <mat-form-field appearance="outline" class="custom-input">
      <mat-label>New task</mat-label>
      <input
        class="custom-matInput"
        matInput
        placeholder=""
        type="text"
        [(ngModel)]="nuevaTarea"
        (keyup.enter)="agregarTarea()"
      />

      @if(nuevaTarea) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="agregarTarea()"
      >
        <mat-icon matSuffix>add</mat-icon>
      </button>
      }
    </mat-form-field>
  </ul>
</div>
